body {
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input,
.vPasswordVisibility {
    padding: 7.5px;
}

.cache {
    display: none;
}

.vFirstColumn {
    min-width: 100px;
}

.vThirdColumn {
    min-width: 100px;
}

.accueil {
    cursor: pointer;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.accueil:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #66cc33;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.accueil span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.accueil svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.accueil:hover:before {
    width: 100%;
    background: #66cc33;
}

.accueil:hover svg {
    transform: translateX(0);
}

.accueil:active {
    transform: scale(0.95);
}

button.vSaveConfig {
    cursor: pointer;
    font-family: inherit;
    background: #66cc33;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

button.vSaveConfig span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button.vSaveConfig svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}
