body {
	background-color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;

    position: absolute;
	top: 40%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	font-family: Trebuchet, Arial, sans-serif;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input,
.vPasswordVisibility {
    padding: 7.5px;
}

.cache {
    display: none;
}

.vFirstColumn {
    min-width: 100px;
}

.vThirdColumn {
    min-width: 100px;
}

.btn {
	position: relative;

	display: block;
	padding: 0;

	overflow: hidden;

	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

	background-color: #2e6abb;
	color: #ecf0f1;

	transition: background-color 0.3s;
}

.btn.token:hover,
.btn.port:hover,
.btn.accueil:hover {
	background-color: #2746ae;
}

.btn.start:hover,
.btn.start:focus {
	background-color: #27ae39;
}

.btn.stop:hover,
.btn.stop:focus {
	background-color: #ae2727;
}

.btn > * {
	position: relative;
}

.btn span {
	display: block;
	padding: 12px 24px;
}

.btn:before {
	content: "";

	position: absolute;
	top: 50%;
	left: 50%;

	display: block;
	width: 0;
	padding-top: 0;

	border-radius: 100%;

	background-color: rgba(236, 240, 241, 0.3);

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn:active:before {
	width: 120%;
	padding-top: 120%;

	transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

/* Styles, not important */
*,
*:before,
*:after {
	box-sizing: border-box;
}
