body {
    background-color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.accueil {
    cursor: pointer;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.accueil:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #66cc33;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.accueil span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.accueil svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.accueil:hover:before {
    width: 100%;
    background: #66cc33;
}

.accueil:hover svg {
    transform: translateX(0);
}

.accueil:active {
    transform: scale(0.95);
}